<h2 class="page-header" style="text-align: center">Bookmark</h2>
<!-- search in Bookmark part -->
<div class="searchinput">
<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2 form-control" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="search" name="search">
</form>
</div>

<!-- Bookmark list display -->
<table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Product</th>
        <th scope="col">Url</th>
        <th scope="col">Operation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of user?.bookmark|searchFilter:search">
        <th scope="row"><img data-src="{{item.image}}" alt="Card image cap" style="width: 80px;height: 60px"></th>
        <td>{{item.name}}</td>
        <td><a [routerLink]="[item.url]">http://localhost:4200{{item.url}}</a></td>
        <td><button class="btn btn-outline-danger" (click)="deletebookmark(item)">Delete</button></td>
      </tr>
    </tbody>
</table>

