<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="search" name="search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [routerLink]="['/search']"  (click)="doSearch()">Search</button>
</form>
<table id="cart-table" class="table table-striped">
  <tr>
    <th scope="col">item</th>
    <th scope="col">Product</th>
    <th scope="col">Link</th>
    <th scope="col">operation</th>
  </tr>
  <tr *ngFor="let item of user?.bookmark|searchFilter:search">
    <td><img data-src="{{item.image}}" alt="Card image cap" style="width: 100px;height: 60px"></td>
    <td><p>{{item.name}}</p></td>
    <td><a [routerLink]="[item.url]">http://localhost:4200{{item.url}}</a></td>
    <td><button class="btn btn-danger" (click)="deletebookmark(item)">Delete</button></td>
  </tr>
</table>
