

<div class="btn-group" role="group" aria-label="Basic example">
    <button class="btn btn-secondary" (click)="sortType('name')" [class.active]="sortBy==='name'">name</button>
    <button class="btn btn-secondary" (click)="sortType('pricel2h')" [class.active]="sortBy==='price'">price low to high</button>
    <button class="btn btn-secondary" (click)="sortType('priceh2l')" [class.active]="sortBy==='price'">price high to low</button>
    <button class="btn btn-secondary" (click)="sortType('rating')" [class.active]="sortBy==='rating'">rating</button>
    <button class="btn btn-danger" (click)="clear()">clear</button>
</div>
 
<div class="list">
   <ul class="searchlist">
      <li *ngFor="let product of products|searchFilter:search" 
      [class.selected]="product===selectedProduct"
      (click)="onSelect(product)">
      <h4>{{product.name}}</h4>
      </li>
    </ul>
</div>


  <div class="list-group">
      <div *ngFor="let product of result" [routerLink]="['/detail', product._id]">
        <!-- simple description in product list -->
        <div class="listcontent">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" [routerLink]="['/detail', product._id]">
          
          <!-- image in product list -->
          <div class="listimage">
            <img data-src="{{product.image}}" alt="Card image cap" style="width: 200px;height: 150px">
          </div>
          <div class="d-flex w-100 justify-content-between" >
          <h5 class="mb-1"><a >{{product.name}}</a></h5>
          <small class="text-muted">Rating:{{product.rating}}</small>
        </div>
        <p class="mb-1">Price:{{product.price}}</p>
        <small class="text-muted">Location:{{product.location}}</small>
        </a>
        </div>
        
    </div> 
  
  </div>

