
<h2 class="page-header" style="text-align: center">Orders History</h2>
       
<!-- ser order history list -->
<table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Product</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of user?.orders">
        <th scope="row"><img data-src="{{item.image}}" alt="Card image cap" style="width: 100px;height: 60px"></th>
        <td>{{item.name}}</td>
      </tr>
    </tbody>
</table>