
<h2 class="page-header" style="text-align: center">Products</h2>

<div class="list-group">
    <div *ngFor="let product of products">
      
      

      <!-- simple description in product list -->
      <div class="listcontent">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" [routerLink]="['/detail', product._id]">
        
        <!-- image in product list -->
        <div class="listimage">
          <img data-src="{{product.image}}" alt="Card image cap" style="width: 200px;height: 150px">
        </div>
        <div class="d-flex w-100 justify-content-between" >
        <h5 class="mb-1"><a >{{product.name}}</a></h5>
        <small class="text-muted">Rating:{{product.rating}}</small>
      </div>
      <p class="mb-1">Price:{{product.price}}</p>
      <small class="text-muted">Location:{{product.location}}</small>
      </a>
      </div>
      
      <!-- add to cart button -->
      <div class="listbtn">
      <button (click)="OnClickaddtocart(product)" class="btn btn-success">Add to cart</button>
      </div>
  </div> 

</div>
