<main role="main">

  <section>
    <div class="container">
      <h1 class="jumbotron-heading">Big Hammer Black Friday</h1>
      <img src="https://ir.ebaystatic.com/rtm/0/RTMS/Image/5626_112017_PEAKH_BFWeekDeals_DDTopBanner_1200x100_FINAL123.jpg" style="width: 100%">
      <p class="lead text-muted">Big Hammer promises you the lowest price with perfect quality. What are you waiting for? Start shopping now!</p>
      <a href="#" class="btn btn-primary" [routerLink]="['/productList']" (click)="doSearch()">Show now</a>
    </div>
  </section>



</main>

