<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark bg-light fixed-top">
<a class="navbar-brand text-dark" href="#">BigHammer</a>
<div class="collapse navbar-collapse" id="navbarsExampleDefault">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="authService.loggedIn()">
      <a class="nav-link text-dark" [routerLink]="['/cart']">View Cart({{itemsincart?.length}})<span class="badge"></span></a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="authService.loggedIn()">
      <a class="nav-link text-dark" [routerLink]="['/bookmark']">BookMark({{itemsinbookmark?.length}})</a>
    </li>
  </ul>
  <ul class="nav navbar-nav">
    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="authService.loggedIn()">
      <a class="nav-link text-dark" [routerLink]="['/profile']">PROFILE</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav-link text-dark" [routerLink]="['/register']" *ngIf="!authService.loggedIn()">REGISTER</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="!authService.loggedIn()">
      <a class="nav-link text-dark" [routerLink]="['/login']" >LOGIN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" (click)="onLogoutClick()" href="#" *ngIf="authService.loggedIn()">LOGOUT</a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="search" name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [routerLink]="['/search']"  (click)="doSearch()">Search</button>
  </form>
  <a class="nav-link"><img src="{{icon}}"></a>
  <a class="nav-link text-dark" style="color: white">{{description}}</a>
  <a class="nav-link text-dark" style="color: white">{{temperature}}</a>
  <a class="nav-link text-dark" style="color: white" [routerLink]="['/location']">Location</a>
</div>
</nav>
</div>
